*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans);
    font-size: var(--font-size-3);
    margin: 0;
}

.container {
    width: min(100% - 2rem, 80rem);
    margin-inline: auto;
}